<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="firstApp">
    <div ng-controller="foodCtrl">
        <input ng-model="newFood" />
        <button ng-click="foodAdder()">Add</button>
        <ul>
            <li ng-repeat="food in foods">
                {{food}}
            </li>
        </ul>
    </div>
</body>
<script>
    const firstApp = angular.module('firstApp',[]);
    firstApp.controller('foodCtrl',($scope)=>{
        $scope.foods = ['A','B','C','D','E'];
        $scope.foodAdder = ()=>{
            $scope.foods.push($scope.newFood);
            $scope.newFood = '';
        }
    })
</script>
</html>